<div class="checkboxes">
  <div class="checkbox">
    <%= check_box_tag(:tag_fish) %>
    <%= label_tag(:tag_fish, "Fisk") %>
  </div>
  <div class="checkbox">
    <%= check_box_tag(:tag_vegetarian) %>
    <%= label_tag(:tag_vegetarian, "Vegetariskt") %>
  </div>
  <div class="checkbox">
    <%= check_box_tag(:tag_soup) %>
    <%= label_tag(:tag_soup, "Soppa") %>
  </div>
  <div class="checkbox">
    <%= check_box_tag(:tag_meat) %>
    <%= label_tag(:tag_meat, "Kött") %>
  </div>
  <div class="checkbox">
    <%= check_box_tag(:tag_pasta) %>
    <%= label_tag(:tag_pasta, "Pasta") %>
  </div>
  <div class="checkbox">
    <%= check_box_tag(:tag_weekend) %>
    <%= label_tag(:tag_weekend, "Helg") %>
  </div>
</div> 